/*  - - -  1/11/2022 New Avenue Direct CSS Collapsible  - - -  */
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-align: left;
  padding: 8px;
  color: #fff;
  background: #0069ff;
  border-bottom: 0.5px solid;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  background: khaki;
  color: #000;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
  color: red;
}

.collapsible-content {
  max-height: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1500vh
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #2d2d2d;
  color: #fff;
}

.collapsible-content .content-inner {
  background: #f5ebb2;
  border-bottom: 1px solid #00055c;
  border-left: 1px solid #00055c;
  border-right: 1px solid #00055c;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .25rem 1rem;
}

.graphix {
  border: 1px solid #000;
}

.div-category {
  background: #00055c;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 7px;
  }

h2 {
  margin: 0px;
  padding-left: 10px;
  border-radius: 7px;
}

.title {
  padding-top: 5px; 
  text-align: center; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-title {
  margin-top: -18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center; 
  color:#8a2be2; 
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}